
.navbar .navbar-brand {
  font-size: 30px;
  color: white;
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

.navbar-toggler {
  color: white;
  font-size: 30px;
}

.nav-link.active {
  font-weight: bolder;
}
