<section id="contact" class="contact">

      <div class="container mt-5" data-aos="fade-up">



        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4 row-text text-center">
              <h1>Registration</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, quisquam.</p>
            </div>

          </div>

          <div class="col-lg-6">
            <form class="email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="last name" class="form-control" name="last name" placeholder="Last Name" required>
                </div>

                <div class="col-md-12">
                  <input type="num" class="form-control" name="subject" placeholder="Phone Number" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Email" required>
                </div>

                <div class="col-md-12">
                  <select id="select1" class="form-select" title="select">
                    <option selected>Choose a training track</option>
                    <option>Frontend</option>
                    <option>Backend</option>
                    <option>Fullstack</option>
                  </select>
                </div>

                <div class="col-md-12">
                  <select id="select1" class="form-select" title="select">
                    <option selected>Choose a training track</option>
                    <option>Frontend</option>
                    <option>Backend</option>
                    <option>Fullstack</option>
                  </select>
                </div>



                <div class="col-md-12 text-center">
                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section>
