.contact {

}

.contact .email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}


.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}



.contact .email-form input {
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button:hover {
  background: #5969f3;
}

.row-text {
  margin-top: 80px;
}

.row-text {
  margin: 0;
}
