<footer class="text-center text-lg-start bg-dark text-muted">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block">

    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-white">
            25 Tech
          </h6>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ex.
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-white">Contact</h6>
          <p class="text-white">15, Jehovah Shalom Street, Jolasco, Ogun State.</p>
          <p class="text-white">09068727429</p>
          <p class="text-white">080</p>
        </div>

      </div>

    </div>
  </section>

  <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold text-white" href="https://twentyfivetech.org/">twentyfivetech.org</a>
  </div>

</footer>

